_obj/
*.png
*.jpg
*.jpeg
*.gif
*.so
*.d
*.rlib
*.json
*.TAG
.cargo-lock
webcam/target/debug/
webcam/target/release/build/
webcam/target/release/.fingerprint/
webcam/target/release/deps/
webcam/target/release/examples/
webcam/target/release/incremental/
rel/
camera-detect/
.code*