*.png
*.jpg
*.jpeg
*.gif
*.so
*.d
*.rlib
*.json
*.TAG
.cargo-lock
target/debug/
target/release/build/
target/release/.fingerprint/
target/release/deps/
target/release/examples/
target/release/incremental/
target/x86*
build.rs